<%= erb :'_drawer' %>
  <main class="mdl-layout__content">

<% if activity.persisted? %>

<div class="mdl-grid">
<div class="mdl-cell--middle mdl-cell--4-col">

<form method="post" action="/groups/<% @group_id%>/activities/<% @id%>">
  <input type="hidden" name="_method" value="PUT />"
<% else %>  
  <form method="post" action=<%="/groups/"+@group_id%>>

  <div class="mdl-textfield mdl-js-textfield">
    <label class="mdl-textfield__label" for="name">Name...</label>
    <input class="mdl-textfield__input" type="text" name="activity[name]" value="<%= @activity.name %>">
  </div>
  
  <div class="mdl-textfield mdl-js-textfield">
    <label class="mdl-textfield__label" for="name">Date...</label>
    <input class="mdl-textfield__input" type="text" name="activity[date]" value="<%= @activity.date %>">
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <label class="mdl-textfield__label" for="time">Time...</label>
    <input class="mdl-textfield__input" type="text" name="activity[time]" value="<%= @activity.time %>">
  </div>
  
  <div class="mdl-textfield mdl-js-textfield">
    <label class="mdl-textfield__label" for="location">Location...</label>
    <input class="mdl-textfield__input" type="text" name="activity[location]" value="<%= @activity.location %>">
  </div>

  
  <p>
    <button type="submit" value="Submit" class="btn btn-default">%= page.persisted? ? 'Update' : 'Create' %></button>
  </p>
</form>
<% end %>  

</div>
</div> 

</main>
