<%= erb :'_drawer' %>
  <main class="mdl-layout__content mdl-color--grey-100"><div class="mdl-grid content">
      <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">

<div class="mdl-grid">
  <div class="mdl-cell--middle mdl-cell--6-col">
  
  <h1><%= @activity.name %></h1>
    
    <p>
      Date: <%= @activity.date %>
    </p>

    <p>
      Time: <%= @activity.time %>
    </p>
    
    <p>
      Location: <%= @activity.location %>
    </p>
  <p>

  <!-- <a href="/groups/<%=@group_id%>/activities/<%=@activity.id%>/edit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a> -->

  <form action="/groups/<%=@group_id%>/activities/<%=@activity.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <a href="/groups/<%=@group_id%>/activities/<%=@activity.id%>/edit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Edit</a>
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</button>
  </form>

  <!-- <a href="/groups/<%=@group_id%>/activities/<%=@activity.id%>/delete" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a> -->

  <!-- <a href="/groups/<%=@group_id%>/activities/<%=@activity.id%>/edit">Edit activity</a>  --> 
  </p>

  <a href="/groups/<%= @group_id %>"><i class="material-icons">keyboard_backspace</i></a>

  </div>
</div>

  </div>
</div>

</div></main>





