<%= erb :'_drawer' %>
  <main class="mdl-layout__content mdl-color--grey-100"><div class="mdl-grid content">
    <div class="activity-button mdl-cell mdl-cell--3-col">
      <a href="/groups/<%= @group.id %>/activities/new"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">add</i></button></a>
    </div>
    <% @group.activities.each do |activity| %>
       <div class="activity-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
         <div class="mdl-card__title mdl-card--expand">
            <h4><%= activity.name %>:<br>
              <%= activity.date %> @ <%= activity.time %><br>
              <%= activity.location %></h4>
          </div>
          <div class="mdl-card__actions mdl-card--border">
          <a href="/groups/<%= activity.group_id %>/activities/<%= activity.id %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View
          </a>
          <div class="mdl-layout-spacer"></div>
          <i class="material-icons">event</i>
        </div>
        </div>
    <% end %>

 </div></main>
