<%= erb :'_drawer' %>
  <main class="mdl-layout__content mdl-color--grey-100"><div class="mdl-grid content">
      <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
        <h1>Who are you?</h1>
        <form method="post">

          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="name">What's your name?</label>
            <input class="mdl-textfield__input" type="text" name="name" value="<%= @user.name %>">
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="name">Where are you?</label>
            <input class="mdl-textfield__input" type="text" name="city" value="<%= @user.city %>">
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="time">What do people need to know?</label>
            <input class="mdl-textfield__input" type="text" name="description" value="<%= @user.description %>">
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <label class="mdl-textfield__label" for="location">What do you look like? (Image URL)</label>
            <input class="mdl-textfield__input" type="text" name="picture" value="<%= @user.picture %>">
          </div>

    <div class="mdl-card__actions">
      <button type="submit" value="Submit" class="btn btn-default">Create Yourself</button>
        </form>
    </div>
  </div>
</div>

</div></main>
