<%= erb :'_drawer' %>
  <main class="mdl-layout__content mdl-color--grey-100"><div class="mdl-grid content">
      <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <p>
            <img src="<%= @user.picture %>" />
          </p>
          <p>
            <strong>Name:</strong> <%= @user.name %>
          </p>

          <p>
            <strong>City:</strong> <%= @user.city %>
          </p>

          <p>
            <strong>Details:</strong> <%= @user.description %>
          </p>

          <p>
            <strong><span class="mdl-badge" data-badge="<%= @user.badge_count %>">Badges</span></strong>
          </p>
        </div>
        <% if @user == @current_user %>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/users/<%= @user.id %>/edit">
            Edit Details
          </a>
        </div>
        <% end %>
        <div class="mdl-card__menu">
          <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="/">
            <i class="material-icons">close</i>
          </a>
        </div>
      </div>

</div></main>
