
<p>
  <img src="<%= @user.picture %>" />
</p>

<p>
  <strong>Name:</strong> <%= @user.name %>
</p>

<p>
  <strong>City:</strong> <%= @user.city %>
</p>

<p>
  <strong>Details:</strong> <%= @user.description %>
</p>

 <p>
  <strong><span class="mdl-badge" data-badge="<%= @user.badge_count %>">Badges</span></strong>
</p>

<hr/>
<strong><a href="/">Take me home!</a></strong>

