<div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="drawer-header">
    <a href="/users/<%= @current_user.id %>"><img src="<%= @current_user.picture %>" class="avatar"></a>
    <span><%= @current_user.name %></span>
    <div class="mdl-layout-spacer"></div>
  </header>
  <nav class="mdl-navigation mdl-color--blue-grey-800">
    <% unless session[:group].nil? %>
      <% session[:group].users.all.order("badge_count desc").each do |user| %>
        <div class="mdl-navigation__link">
          <img src="<%= user.picture %>" width="40" height="40" role="presentation" class="avatar">
        <span class="mdl-badge" data-badge="<%= user.badge_count %>"><%= user.name %></span>
        </div>
      <% end %>
      <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link">
          <form method="post" action="/groups/leave/<%= session[:group].id %>">
            <input type="hidden" name="_method" value="DELETE" />
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">do_not_disturb</i>Leave Group
            </button>
          </form>
        </a>
    <% end %>
  </nav>
</div>
